.main-div{
    display: flex;
    justify-content: center;
}
.head{
    border-bottom: 3px dotted black;
}

fieldset{
    background-color: rgba(82, 240, 240, 0.144);
}
form{
    margin-right: 10PX;
}
.pbutton{
    margin-bottom: 5px;
    margin-left: 5px;
}